* {
  list-style-type: none;
}
.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px #000;
  width: 100%;
}
.tabs > ul,
.tabs > ul > li {
  margin: 0;
  padding: 0;
}
.tabs ul {
  display: table;
  width: 100%;
}
.tabs ul li {
  text-align: center;
  font-size: 10px;
  display: table-cell;
  padding: 8px 12px;
  vertical-align: middle;
}
.tabs ul li.active {
  color: #D0021B;
}
